body{
  margin:0;
  padding:0;
  font-family: 'Nunito Sans', sans-serif;
}

.navigationBar{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height:4.5rem;
  width:100%;
  background-color: #03A062;
}
.containerExpWho {
  display: flex;
  justify-content: center;
}

.containerSearchBar {
  display: flex;
}
.exp-who {
  text-decoration: none;
  padding: 10px;
  color:white;
  font-size: 1.2rem;
  margin-right: 2.5rem;
  font-weight: bold;
}
.exp-who:hover {
  color: #FDE724;
}
.navigationBar input {
  height: 2rem;
  width:14rem;
  border:none;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius:0.3rem;
  margin-left: 1rem;
}
.btn-reservas {
  background-color: #FDE724;
  height: 2rem;
  width: 6rem;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.1rem;
  margin-left: -2rem;
}
.btn-reservas:hover {
  background: #FDE724;
  box-shadow: 0 0 5px #FDE724, 0 0 25px #FDE724, 0 0 50px #FDE724, 0 0 200px #FDE724;
}

.logo-eco{
  height: 4rem;
  margin-left: 5.5rem;
}
.logo-eco:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.lupa {
  height: 30px;
  filter:invert(1);
}
.fa-search {
  font-size: 0.7rem;
  color: white;
  cursor: pointer;
}
.btn-search {
  border: none;
  background-color: #006c79;
  width: 3rem;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

}
/* Iconos slider */
.almohadilla {
  font-size: 2rem;
  font-weight: bold;
  color: #006c79;
  margin-left: 2rem;
}
.eco {
  font-size: 2rem;
  font-weight: bold;
  color: #03A062;
}
.iconos {
  display: flex;
  justify-content: space-around;
}
.icon {
  margin-top: 1.7rem;
  height: 6rem;
  width: 8rem;
}
.icon1 {
  margin-top: 1rem;
  height: 8rem;
  width: 10rem;
}
.infIcon {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: #006c79;
  font-size: 1rem;
  font-weight: bold;
}

/*experiencias*/

.cabeceraexperiencias {
  font-size: 2.5rem;
  color: #ff7171;
  font-weight: bold;
  margin-bottom: 2rem;
}

.containerexperiencias {
  margin: 3rem 10rem;
  display: flex;
  flex-direction: column;
}
.titleExp {
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  color: #FF6347FF;
  background: #FFFFFF;
  margin-top: 2rem;
}
.titleExp1 {
  font-weight: bold;
}






/*Quienes somos*/

.imgPrincipalAbout{
  width: 100%;
  height:300px;
  object-fit: cover;
  object-position: center;
}
.wrapper {
  width:80%;
  margin: 3rem auto;
}
.aboutUs {
  font-size: 1.3rem;
  line-height: 200%;
  text-align: justify;
  display:flex;
  flex-flow: column;
  row-gap: 1rem;
}
.aboutUs h2 {
  font-weight:bold;
}

.teamInfo {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;

}
.infoIndividual {
  width: 200px;
  display: flex;
  flex-flow: column;
  text-align: center;
}
.containerProfilePic img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 1rem;
  border:5px solid #fde724;
}
.teamName {
  margin-top: 2rem;
  font-weight: bold;

}
.job{
  font-size: 1.1rem;

}
.descriptionMember{
  font-size:1rem;
  font-style:italic;
  font-weight: lighter;
  text-align: justify;
  line-height: 150%;
}
.lineaHr{
  color: #03a062;
}
.contactUs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.contactUs h2{
  margin-bottom:2rem;
}
.contactUs h2, .aboutUs h2 {
  color:#03A062;
}
.wrapperDataContact {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
.wrapperContact a{
  text-decoration: none;
  color:inherit;
}
.wrapperContact a:hover{
  color:#006c79;
  font-weight: bold;
  transform: scale(2);
}

.fa-paper-plane, .fa-phone-alt, .fa-map-marker-alt{
  font-size: 2rem;
  filter: invert(1);

}

/*experiencias cards*/
.containerPageExperiences{
     display: flex;
     flex-direction: column;
}
/*.tituloexp {
  display: block;
  margin:auto;
}*/
.tituloexp {
  /* display: block; */
  /* margin: auto; */
  min-height: 11rem;
  justify-content: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #03A062;
}
.container-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 3rem 2rem;
  justify-content: center;
}
.card {
  background-color: white;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
  border: 0px;
  border-color: tomato;
  border-style: solid;
  transition: 200ms;
  max-width: 380px;
  box-shadow: #03A062;
}

.card:hover {
  transition: 200ms;
  border: 3px;
  border-color: tomato;
  border-style: solid;
}

.card-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

}

.profile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: tomato;
  border-radius: 50%;
  margin: 10px;
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  color: white;
  justify-content: center;
}

.letter {
  vertical-align: middle;
}

.card-title-group {
  justify-content: center;
}

.card-title {
  flex: 0.5;
  font-size: large;
  margin-bottom: 0;
  margin-top: 0;
}
.card-date {
  flex: 0.3;
  font-size: small;
  margin-top: 0;
}

.card-image {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card-like-icon {
  height: 25px;
}

.card-text {
  width: 350px;
  font-size: medium;
}

.card-like-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.like-text {
  font-size: small;
  margin-left: 10px;
}

.btn-reservas2 {
  background-color: #FDE724;
  padding: 0.2rem;
  color: white;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1rem;
}

.priceExperience p{
  color:red;
  font-weight: bold;
  font-size:1.2rem;
}
.btn-reservas3{
  background-color: #03A062 ;
  padding: 0.2rem;
  color: white;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1rem;
}

.durationExperience{
  color:#cccccc;
}



/*Footer*/

footer{
  background-color: #23272a;
  color: white;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  bottom:0;
  width: 100%;
}
footer p {
  margin: auto;
}
































//formulario
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.fondo {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="text"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.desplegable {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  color: #c3c3c3;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}



#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact select[type="text"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


//experiencias detalle

.gallery {
  display: grid;
  gird-template-columns: repeat(12, 1fr);
  grid-gap: 2px;

}

.gallery img {
  width: 100%;

}

.gallery img:nth-child(1) {
  grid-area: 2 / 3 / span 2 / span 3;
}

.gallery img:nth-child(1) {
  grid-area: span 1 / span 4;
}