body{
  margin:0;
  padding:0;
  font-family: 'Nunito Sans', sans-serif;
}

.navigationBar{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height:6.5rem;
  width:100%;
  background-color: #03A062;
}
.containerExpWho {
  display: flex;
 gap: 20px;
}

.containerSearchBar {
  display: flex;


}
.exp-who {
  text-decoration: none;
  padding: 15px;
  color:white;
  font-size: 1.6rem;
}
.navigationBar input {
  height: 2rem;
  width:14rem;
  border:none;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius:0.3rem ;
}
.btn-reservas {
  background-color: #FDE724;
  padding: 0.5rem;
  color: white;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.logo-eco{
  height: 9rem;
}
.lupa {
  height: 30px;
  filter:invert(1);
}
.fa-search {
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
.btn-search {
  border: none;
  background-color: #006c79;
  width: 3rem;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}







.experiencesList {
  border: thin solid #444444;
  width: 300px;
  margin: auto;
  border-radius: 12px;
  background-color: whitesmoke;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__item {
    box-shadow: #444444 1px 1px;
    border: thin solid black;
  }
}

.experience {

  height: 120px;
  position: relative;
  text-align: center;

  &__name {
    padding: 20%;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;

  }
  &:hover &__details {
    width: 100%;
  }
}
